*{
    margin:0;
    padding:0;
}
body{
    
   height:100%;
    background:cover;
    background-color:white;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    font-family:sans-serif;
    
    
}
body h1{
    color:red;
    text-align:center;
}
 

.p-box
{
    border:2px solid white;
    width:23%;
    float:left;
    margin-left:10px;
    height:40em;
    padding:5px;
    background-color:white;

}
.p-box:hover{

    background:#d8bfd8;

}
.p-box a{

text-decoration:none;
color:red;
}
footer{
    color:white;
    background-color:black;
    height:1.5em;
    margin-top:30%;
}
